<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-5 col-md-7 mx-auto my-auto">
            <div class="card">
                <div class="card-body px-lg-5 py-lg-5 text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle avatar-lg img-thumbnail mb-4" alt="profile-image">
                    <h2 class="text-info">2FA Security</h2>
                    <p class="mb-4">Enter 6-digits code from your email box.</p>
                    <div>
                        @RenderBody()
                        <style>
                            body {
                                background: #eee;
                            }

                            .card {
                                box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
                            }

                            .card {
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                min-width: 0;
                                word-wrap: break-word;
                                background-color: #fff;
                                background-clip: border-box;
                                border: 0 solid rgba(0,0,0,.125);
                                border-radius: 1rem;
                            }

                            .img-thumbnail {
                                padding: .25rem;
                                background-color: #ecf2f5;
                                border: 1px solid #dee2e6;
                                border-radius: .25rem;
                                max-width: 100%;
                                height: auto;
                            }

                            .avatar-lg {
                                height: 150px;
                                width: 150px;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>