
@{
    ViewData["Title"] = "Sales_Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- Navbar -->
        <nav class="navbar-custom">
            <ul class="list-unstyled topbar-nav float-end mb-0">
                <li class="dropdown hide-phone">
                    <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <i data-feather="search" class="topbar-icon"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end dropdown-lg p-0">
                        <!-- Top Search Bar -->
                        <div class="app-search-topbar">
                            <form action="#" method="get">
                                <input type="search" name="search" class="from-control top-search mb-0" placeholder="Type text...">
                                <button type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                </li>

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <i data-feather="bell" class="align-self-center topbar-icon"></i>
                        <span class="badge bg-danger rounded-pill noti-icon-badge">2</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-lg pt-0">

                        <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">
                            Notifications <span class="badge bg-primary rounded-pill">2</span>
                        </h6>
                        <div class="notification-menu" data-simplebar>
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-end text-muted ps-2">2 min ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-soft-primary">
                                        <i data-feather="shopping-cart" class="align-self-center icon-xs"></i>
                                    </div>
                                    <div class="media-body align-self-center ms-2 text-truncate">
                                        <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>
                                        <small class="text-muted mb-0">Dummy text of the printing and industry.</small>
                                    </div><!--end media-body-->
                                </div><!--end media-->
                            </a><!--end-item-->
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-end text-muted ps-2">10 min ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-soft-primary">
                                        <img src="assets/images/users/user-4.jpg" alt="" class="thumb-sm rounded-circle">
                                    </div>
                                    <div class="media-body align-self-center ms-2 text-truncate">
                                        <h6 class="my-0 fw-normal text-dark">Meeting with designers</h6>
                                        <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                    </div><!--end media-body-->
                                </div><!--end media-->
                            </a><!--end-item-->
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-end text-muted ps-2">40 min ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-soft-primary">
                                        <i data-feather="users" class="align-self-center icon-xs"></i>
                                    </div>
                                    <div class="media-body align-self-center ms-2 text-truncate">
                                        <h6 class="my-0 fw-normal text-dark">UX 3 Task complete.</h6>
                                        <small class="text-muted mb-0">Dummy text of the printing.</small>
                                    </div><!--end media-body-->
                                </div><!--end media-->
                            </a><!--end-item-->
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-end text-muted ps-2">1 hr ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-soft-primary">
                                        <img src="assets/images/users/user-5.jpg" alt="" class="thumb-sm rounded-circle">
                                    </div>
                                    <div class="media-body align-self-center ms-2 text-truncate">
                                        <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>
                                        <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                    </div><!--end media-body-->
                                </div><!--end media-->
                            </a><!--end-item-->
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-end text-muted ps-2">2 hrs ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-soft-primary">
                                        <i data-feather="check-circle" class="align-self-center icon-xs"></i>
                                    </div>
                                    <div class="media-body align-self-center ms-2 text-truncate">
                                        <h6 class="my-0 fw-normal text-dark">Payment Successfull</h6>
                                        <small class="text-muted mb-0">Dummy text of the printing.</small>
                                    </div><!--end media-body-->
                                </div><!--end media-->
                            </a><!--end-item-->
                        </div>
                        <!-- All-->
                        <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                            View all <i class="fi-arrow-right"></i>
                        </a>
                    </div>
                </li>

                <li class="dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <span class="ms-1 nav-user-name hidden-sm">Nick</span>
                        <img src="assets/images/users/user-5.jpg" alt="profile-user" class="rounded-circle thumb-xs" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="@Url.Action("AdminProfile", "Admin")"><i data-feather="user" class="align-self-center icon-xs icon-dual me-1"></i> Profile</a>
                        <div class="dropdown-divider mb-0"></div>
                        <a class="dropdown-item" href="@Url.Action("Login", "Admin")"><i data-feather="power" class="align-self-center icon-xs icon-dual me-1"></i> Logout</a>
                    </div>
                </li>
            </ul><!--end topbar-nav-->

            <ul class="list-unstyled topbar-nav mb-0">
                <li>
                    <button class="nav-link button-menu-mobile">
                        <i data-feather="menu" class="align-self-center topbar-icon"></i>
                    </button>
                </li>
                <li class="creat-btn">
                    <div class="nav-link">
                        <a class=" btn btn-sm btn-soft-primary" href="#" role="button"><i class="fas fa-plus me-2"></i>New Task</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- end navbar-->
    </div>
    <!-- Top Bar End -->
    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">Sales</h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dastone</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div><!--end col-->
                            <div class="col-auto align-self-center">
                                <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                    <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                    <span class="" id="Select_date">Jan 11</span>
                                    <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-outline-primary">
                                    <i data-feather="download" class="align-self-center icon-xs"></i>
                                </a>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">Revenu Status</h4>
                                </div><!--end col-->
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-sm btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            This Month<i class="las la-angle-down ms-1"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Today</a>
                                            <a class="dropdown-item" href="#">Last Week</a>
                                            <a class="dropdown-item" href="#">Last Month</a>
                                            <a class="dropdown-item" href="#">This Year</a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div>  <!--end row-->
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div class="">
                                <div id="Revenu_Status" class="apex-charts"></div>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                    <div class="row">
                        <div class="col-12 col-lg-6 col-xl">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col text-center">
                                            <span class="h4">$24,500</span>
                                            <h6 class="text-uppercase text-muted mt-2 m-0">Weekly Sales</h6>
                                        </div><!--end col-->
                                    </div> <!-- end row -->
                                </div><!--end card-body-->
                            </div> <!--end card-body-->
                        </div><!--end col-->
                        <div class="col-12 col-lg-6 col-xl">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col text-center">
                                            <span class="h4">520</span>
                                            <h6 class="text-uppercase text-muted mt-2 m-0">Orders Placed</h6>
                                        </div><!--end col-->
                                    </div> <!-- end row -->
                                </div><!--end card-body-->
                            </div> <!--end card-body-->
                        </div><!--end col-->
                        <div class="col-12 col-lg-6 col-xl">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col text-center">
                                            <span class="h4">82.8%</span>
                                            <h6 class="text-uppercase text-muted mt-2 m-0">Conversion Rate</h6>
                                        </div><!--end col-->
                                    </div> <!-- end row -->
                                </div><!--end card-body-->
                            </div> <!--end card-body-->
                        </div><!--end col-->
                        <div class="col-12 col-lg-6 col-xl">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col text-center">
                                            <span class="h4">$80.5</span>
                                            <h6 class="text-uppercase text-muted mt-2 m-0">Avg. Value</h6>
                                        </div><!--end col-->
                                    </div> <!-- end row -->
                                </div><!--end card-body-->
                            </div> <!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!-- end col-->

                <div class="col-lg-3">
                    <div class="card overflow-hidden">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="media">
                                        <img src="assets/images/money-beg.png" alt="" class="align-self-center" height="40">
                                        <div class="media-body align-self-center ms-3">
                                            <h6 class="m-0 font-20">$1850.00</h6>
                                            <p class="text-muted mb-0">Total Revenue</p>
                                        </div><!--end media body-->
                                    </div><!--end media-->
                                </div><!--end col-->
                                <div class="col-auto align-self-center">
                                    <p class="mb-0"><span class="text-success"><i class="mdi mdi-trending-up"></i>4.8%</span> Then Last Month</p>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end card-body-->
                        <div class="row">
                            <div class="col-12">
                                <div class="apexchart-wrapper">
                                    <div id="dash_spark_1" class="chart-gutters"></div>
                                </div>
                            </div><!--end col-->
                        </div>
                    </div> <!--end card-->
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">Earning Reports</h4>
                                </div><!--end col-->
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-sm btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            This Week<i class="las la-angle-down ms-1"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Today</a>
                                            <a class="dropdown-item" href="#">Last Week</a>
                                            <a class="dropdown-item" href="#">Last Mont</a>
                                            <a class="dropdown-item" href="#">This Year</a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div>  <!--end row-->
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div class="text-center">
                                <div id="ana_device" class="apex-charts"></div>
                                <h6 class="bg-light-alt py-3 px-2 mb-0">
                                    <i data-feather="calendar" class="align-self-center icon-xs me-1"></i>
                                    01 January 2020 to 31 December 2020
                                </h6>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!-- end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">Earnings Reports</h4>
                                </div><!--end col-->
                            </div>  <!--end row-->
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="border-top-0">Date</th>
                                            <th class="border-top-0">Item Count</th>
                                            <th class="border-top-0">Text</th>
                                            <th class="border-top-0">Earnings</th>
                                        </tr><!--end tr-->
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>01 January</td>
                                            <td>50</td>
                                            <td class="text-danger">-$70</td>
                                            <td>$15,000</td>
                                        </tr><!--end tr-->
                                        <tr>
                                            <td>02 January</td>
                                            <td>25</td>
                                            <td>-</td>
                                            <td>$9,500</td>

                                        </tr><!--end tr-->
                                        <tr>
                                            <td>03 January</td>
                                            <td>65</td>
                                            <td class="text-danger">-$115</td>
                                            <td>$35,000</td>

                                        </tr><!--end tr-->
                                        <tr>
                                            <td>04 January</td>
                                            <td>20</td>
                                            <td>-</td>
                                            <td>$8,500</td>
                                        </tr><!--end tr-->
                                        <tr>
                                            <td>05 January</td>
                                            <td>40</td>
                                            <td class="text-danger">-$60</td>
                                            <td>$12,000</td>
                                        </tr><!--end tr-->
                                        <tr>
                                            <td>06 January</td>
                                            <td>45</td>
                                            <td class="text-danger">-$65</td>
                                            <td>$13,500</td>
                                        </tr><!--end tr-->
                                    </tbody>
                                </table> <!--end table-->
                            </div><!--end /div-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">Most Populer Products</h4>
                                </div><!--end col-->
                            </div>  <!--end row-->
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="border-top-0">Product</th>
                                            <th class="border-top-0">Price</th>
                                            <th class="border-top-0">Sell</th>
                                            <th class="border-top-0">Status</th>
                                            <th class="border-top-0">Action</th>
                                        </tr><!--end tr-->
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <img src="assets/images/products/01.png" height="30" class="me-3 align-self-center rounded" alt="...">
                                                    <div class="media-body align-self-center">
                                                        <h6 class="m-0">Dastone Camera EDM 5D(White)</h6>
                                                        <a href="#" class="font-12 text-primary">ID: A3652</a>
                                                    </div><!--end media body-->
                                                </div>
                                            </td>
                                            <td>$50 <del class="text-muted font-10">$70</del></td>
                                            <td>450 <small class="text-muted">(550)</small></td>
                                            <td><span class="badge badge-soft-warning px-2">Stock</span></td>
                                            <td>
                                                <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                                                <a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                            </td>
                                        </tr><!--end tr-->
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <img src="assets/images/products/02.png" height="30" class="me-3 align-self-center rounded" alt="...">
                                                    <div class="media-body align-self-center">
                                                        <h6 class="m-0">Dastone Shoes Max-Zon</h6>
                                                        <a href="#" class="font-12 text-primary">ID: A5002</a>
                                                    </div><!--end media body-->
                                                </div>
                                            </td>
                                            <td>$99 <del class="text-muted font-10">$150</del></td>
                                            <td>750 <small class="text-muted">(00)</small></td>
                                            <td><span class="badge badge-soft-primary px-2">Out of Stock</span></td>
                                            <td>
                                                <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                                                <a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                            </td>
                                        </tr><!--end tr-->
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <img src="assets/images/products/04.png" height="30" class="me-3 align-self-center rounded" alt="...">
                                                    <div class="media-body align-self-center">
                                                        <h6 class="m-0">Dastone Mask N99 [ISI]</h6>
                                                        <a href="#" class="font-12 text-primary">ID: A6598</a>
                                                    </div><!--end media body-->
                                                </div>
                                            </td>
                                            <td>$199 <del class="text-muted font-10">$250</del></td>
                                            <td>280 <small class="text-muted">(220)</small></td>
                                            <td><span class="badge badge-soft-warning px-2">Stock</span></td>
                                            <td>
                                                <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                                                <a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                            </td>
                                        </tr><!--end tr-->
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <img src="assets/images/products/img-5.png" height="30" class="me-3 align-self-center rounded" alt="...">
                                                    <div class="media-body align-self-center">
                                                        <h6 class="m-0">Dastone Bag (Blue)</h6>
                                                        <a href="#" class="font-12 text-primary">ID: A9547</a>
                                                    </div><!--end media body-->
                                                </div>
                                            </td>
                                            <td>$40 <del class="text-muted font-10">$49</del></td>
                                            <td>500 <small class="text-muted">(1000)</small></td>
                                            <td><span class="badge badge-soft-primary px-2">Out of Stock</span></td>
                                            <td>
                                                <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                                                <a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                            </td>
                                        </tr><!--end tr-->

                                    </tbody>
                                </table> <!--end table-->
                            </div><!--end /div-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
            </div><!--end row-->

        </div><!-- container -->

        <footer class="footer text-center text-sm-start">
            &copy; <script>
                       document.write(new Date().getFullYear())
            </script> Dastone <span class="text-muted d-none d-sm-inline-block float-end">
                Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes
            </span>
        </footer><!--end footer-->
    </div>
    <!-- end page content -->
</div>



