
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
}


<div class="breadbg">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="index9328.html?route=common/home"><i class="fa fa-home"></i></a></li>
                <li><a href="indexe223.html?route=account/account">Account</a></li>
                <li><a href="index5502.html?route=account/register">Register</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="account-register" class="container acpage">
    <div class="row">
        <div id="content" class="col-sm-8 col-md-9 col-xs-12 colright">
            <div class="infobg">
                <h1>Register Account</h1>
                <p>If you already have an account with us, please login at the <a href="indexe223.html?route=account/login">login page</a>.</p>
                <form action="https://opencart.dostguru.com/FD04/upbasket_01/index.php?route=account/register" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <fieldset id="account">
                        <legend>Your Personal Details</legend>
                        <div class="form-group required" style="display:  none ;">
                            <label class="col-sm-3 col-xs-12 control-label">Customer Group</label>
                            <div class="col-sm-9 col-xs-12">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="customer_group_id" value="1" checked="checked" />
                                        Default
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-3 col-xs-12 control-label" for="input-firstname">First Name</label>
                            <div class="col-sm-9 col-xs-12">
                                <input type="text" name="firstname" value="" placeholder="First Name" id="input-firstname" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-3 col-xs-12 control-label" for="input-lastname">Last Name</label>
                            <div class="col-sm-9 col-xs-12">
                                <input type="text" name="lastname" value="" placeholder="Last Name" id="input-lastname" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-3 col-xs-12 control-label" for="input-email">E-Mail</label>
                            <div class="col-sm-9 col-xs-12">
                                <input type="email" name="email" value="" placeholder="E-Mail" id="input-email" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-3 col-xs-12 control-label" for="input-telephone">Telephone</label>
                            <div class="col-sm-9 col-xs-12">
                                <input type="tel" name="telephone" value="" placeholder="Telephone" id="input-telephone" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Your Password</legend>
                        <div class="form-group required">
                            <label class="col-sm-3 col-xs-12 control-label" for="input-password">Password</label>
                            <div class="col-sm-9 col-xs-12">
                                <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-3 col-xs-12 control-label" for="input-confirm">Password Confirm</label>
                            <div class="col-sm-9 col-xs-12">
                                <input type="password" name="confirm" value="" placeholder="Password Confirm" id="input-confirm" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Newsletter</legend>
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-12 control-label">Subscribe</label>
                            <div class="col-sm-9 col-xs-12">
                                <label class="radio-inline">
                                    <input type="radio" name="newsletter" value="1" />
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="newsletter" value="0" checked="checked" />
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>

                    <div class="buttons">
                        <div class="text-right acspace">
                            I have read and agree to the <a href="index11ee.html?route=information/information/agree&amp;information_id=3" class="agree"><b>Privacy Policy</b></a>
                            <input type="checkbox" name="agree" value="1" />
                            &nbsp;
                            <input type="submit" value="Continue" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <aside id="column-right" class="col-sm-4 col-md-3 col-xs-12 hidden-xs">
            <div class="list-group accolumn">


                <h3><svg class="" width="20px" height="20px"> <use xlink:href="#acluser"></use> </svg>ACCOUNT SETTINGS</h3>
                <a href="indexe223.html?route=account/login" class="list-group-item">Login</a> <a href="index5502.html?route=account/register" class="list-group-item">Register</a> <a href="indexacda.html?route=account/forgotten" class="list-group-item">Forgotten Password</a>
                <a href="indexe223.html?route=account/account" class="list-group-item">My Account</a>

            </div>
        </aside>
    </div>
</div>
<script type="text/javascript">
    <!--
    // Sort the custom fields
    $('#account .form-group[data-sort]').detach().each(function () {
        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
            $('#account .form-group').eq($(this).attr('data-sort')).before(this);
        }

        if ($(this).attr('data-sort') > $('#account .form-group').length) {
            $('#account .form-group:last').after(this);
        }

        if ($(this).attr('data-sort') == $('#account .form-group').length) {
            $('#account .form-group:last').after(this);
        }

        if ($(this).attr('data-sort') < -$('#account .form-group').length) {
            $('#account .form-group:first').before(this);
        }
    });

    $('input[name=\'customer_group_id\']').on('change', function () {
        $.ajax({
            url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
            dataType: 'json',
            success: function (json) {
                $('.custom-field').hide();
                $('.custom-field').removeClass('required');

                for (i = 0; i < json.length; i++) {
                    custom_field = json[i];

                    $('#custom-field' + custom_field['custom_field_id']).show();

                    if (custom_field['required']) {
                        $('#custom-field' + custom_field['custom_field_id']).addClass('required');
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('input[name=\'customer_group_id\']:checked').trigger('change');
    //--></script>
<script type="text/javascript">
    <!--
    $('button[id^=\'button-custom-field\']').on('click', function () {
        var element = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function () {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(element).button('loading');
                    },
                    complete: function () {
                        $(element).button('reset');
                    },
                    success: function (json) {
                        $(element).parent().find('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(element).parent().find('input').val(json['code']);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
