
<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;
}
<!-- Mirrored from colorlib.com/etc/404/colorlib-error-404-1/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Mar 2023 16:03:57 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- App css -->
    <link href="~/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/assets/css/app.min.css" rel="stylesheet" type="text/css" />
<title>401 Unauthorized</title>

<meta name="robots" content="noindex, follow">
</head>
<body>
<div class="container">
<div class="notfound">
<div class="notfound-404">
<h1>401</h1>
</div>
<h2>Oops!</h2>
<p >Sorry but the page you are looking for does not allow you</p>
<button class="btn btn-primary"> <a style="color:#FFFFFF;" href="/Home/Index">Go To Homepage</a></button>
</div>
</div>
</body>

<!-- Mirrored from colorlib.com/etc/404/colorlib-error-404-1/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Mar 2023 16:03:57 GMT -->
</html>
