@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/LayoutConfirmEmail.cshtml";

}

<h1 style="margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;">Thank you for confirming your email</h1>
