@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/LayoutConfirmEmail.cshtml";
}

<h1 style="margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;">Confirm Your Email Address</h1>
