
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
}
<div class="breadbg">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="index9328.html?route=common/home"><i class="fa fa-home"></i></a></li>
                <li><a href="indexe223.html?route=account/account">Account</a></li>
                <li><a href="indexacda.html?route=account/forgotten">Forgot Password</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="account-forgotten" class="container acpage">
    <div class="row">
        <div id="content" class="col-sm-8 col-md-9 col-xs-12 colright">
            <div class="infobg">
                <h1>Forgot Your Password?</h1>
                <p>Enter the e-mail address associated with your account. Click submit to have a password reset link e-mailed to you.</p>
                <form action="@Url.Action("ForgotPassword","User")" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <fieldset>
                        <legend>Your E-Mail Address</legend>
                        <div class="form-group required">
                            <label class="col-sm-3 col-xs-12 control-label" for="input-email">E-Mail Address</label>
                            <div class="col-sm-9 col-xs-12">
                                <input type="text" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                    <div class="buttons clearfix">
                        <div class="pull-left"><a href="indexe223.html?route=account/login" class="btn btn-primary">Back</a></div>
                        <div class="pull-right">
                            <input type="submit" value="Continue" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <aside id="column-right" class="col-sm-4 col-md-3 col-xs-12 hidden-xs">
            <div class="list-group accolumn">


                <h3><svg class="" width="20px" height="20px"> <use xlink:href="#acluser"></use> </svg>ACCOUNT SETTINGS</h3>
                <a href="@Url.Action("Login", "User")" class="list-group-item">Login</a> 
                <a href="@Url.Action("Register","User")" class="list-group-item">Register</a> 
                <a href="@Url.Action("ForgotPassword","User")" class="list-group-item">Forgot Password</a>
                <a href="indexe223.html?route=account/account" class="list-group-item">My Account</a>

            </div>
        </aside>
    </div>
</div>

